videos/
token/
secrets/
logs/
chromedriver
chromedriver.exe
src/__pycache__
__pycache__
venv/

## Pycharm
*.iml
misc.xml
modules.xml
profiles_settings.xml
vcs.xml
.idea/
shinee-scraper/
.python-version
.DS_STORE
scraper/